.first{
    text-align: center;
    height: 80px;
    padding: 2px 2px 2px 2px;
    color: aliceblue;
    font-size: larger;
    background-color: rgb(5, 5, 68);
}

.choice:hover{
    background-color: black;
    cursor: pointer;
}
.second{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set {
    
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.score-board{
    height: 150px;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    gap: 15px;
    
}
.score{
    height: 150px;
}

#user_score, #comp_score{
    font-size: 40px;
    font-weight: 700;
}
.msg-container{
    color:black;
    /* margin-top: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    background-color: rgb(53, 49, 66) ;
    font-size: xx-large;
    /* width: 300px; */
    color: white;
    border-radius: 5px;
}